:root {
    --plum: #744253;
    --brown: #b49286;
    --sand: #d7bea8;
    --pink: #f3d9dc;
    --rose: #c78283;
}

* {
    border-radius: 4px;
}

body {
    background-color: var(--pink);
}

header {
    padding: 10px;
    background-color: var(--rose);
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: var(--pink);
    color: var(--rose);
}

header nav {
    padding-top: 15px;
    margin-right; 20px;
    float: right;
    font-size: 32px;
}

ul {
    list-style-type:none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--plum);
}

p {
    color:var(--plum);
}

section {

}
section h2 {
    display: inline-block;
    padding-right: 20px;
    color: var(--plum);
    font-size: 32px;
}

.image-section img {
    height: 300px;
    width: 300px;
    margin: 5px;
    border: 5px solid var(--rose);
}

img:hover {
    opacity: 0.5;
}

#bigger-img {
    height: 500px;
    width: 500px;
}

.work-images {
    position: relative;
}

.img-title {
   position: absolute;
   bottom: 30px;
   left: 16px;
   background-color: var(--rose);
   padding: 10px;
   font-weight: 700;
}

