:root {
    --plum: #744253;
    --brown: #b49286;
    --sand: #d7bea8;
    --pink: #f3d9dc;
    --rose: #c78283;
}

* {
    border-radius: 4px;
    color: var(--plum);
}

body {
    background-color: var(--pink);
}

/* Header and Nav styles */
header {
    display:flex;
    padding: 10px;
    background-color: var(--rose);
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    background-color: var(--pink);
    color: var(--rose);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 32px;
}

/* List Styles */
ul {
    list-style-type:none;
    display:flex;
}

ul li {
    display: flex;
    margin-left: 25px;
}

/* format the section headers */

h2 {
    display: flex;
    padding-right: 30px;
    color: var(--plum);
    font-size: 32px;
    width: 20%;
    border-right: 5px solid var(--rose);
    margin: 10px;
}

/* format the images in the work section */
img {
    height: 200px;
    width: 200px;
    margin: 5px;
    border: 5px solid var(--rose);
}

#image-section img:hover {
    opacity: 0.5;
}

#bigger-img {
    height: 400px;
    width: 600px;
}

/* Format each section to correct the layout */
#image-section {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
}
.img-container {
    position: relative;
}

.img-title {
   position: absolute;
   bottom: 30px;
   left: 16px;
   background-color: var(--rose);
   padding: 10px;
   font-weight: 700;
}

.section-container {
    display:flex;
    padding: 10px;
}

.content-container {
    display:flex;
    width: 80%;
    justify-content: center;
}

.content-container p {
    padding-left: 15px;
    font-size: 20px;
}

.list-container {
    display: flex;
    font-size: 22px;
    width: 80%;
    justify-content: space-evenly;
}

/* Adjust the layout when the screen size is smaller than 700px */
@media screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 15px;    
    }

    header {
        display: flex;
        width:100%;
        flex-wrap: wrap;
    }
}

